/* 0. Variables */

:root {
  --border-black: slategray;
}

/* 1. Header Styles */

body {
  font-family: 'Ubuntu', sans-serif;
}

header {
  text-align: center;
}

header > div {
  font-family: 'Pacifico', cursive;
  font-size: xx-large;
}

div span:nth-child(odd) {
  color: dodgerblue;
}

div span:nth-child(even) {
  color: crimson;
}

/* 2. Grid */

.grid {
  display: grid;
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
  width: fit-content;
}

.cell {
  width: 100px;
  height: 100px;
  justify-self: center;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 2.1. Grid Borders */

.cell:nth-child(n+1):nth-child(-n+2),
.cell:nth-child(n+4):nth-child(-n+5),
.cell:nth-child(n+7):nth-child(-n+8) {
  border-right: 3px solid var(--border-black);
}

.cell:nth-child(n+1):nth-child(-n+3),
.cell:nth-child(n+4):nth-child(-n+6) {
  border-bottom: 3px solid var(--border-black);
}

/* 3. Tics and Tacs */

.cell img {
  width: 50px;
}

.cell {
  transition: all 0.2s ease-out;
}

.circle {
  filter: invert(36%) sepia(98%) saturate(1468%) hue-rotate(197deg) brightness(106%) contrast(103%);
}

.cross {
  filter: invert(37%) sepia(97%) saturate(6570%) hue-rotate(337deg) brightness(85%) contrast(103%);
}

.cell:hover {
  background-color: lightgray;
  transition: all 0.2s ease-in;
}

/* 4. Popup Form */

.popup-form {
  display: flex;
  flex-direction: column;
  background-color: cornflowerblue;
  color: white;
  border-radius: 10px;
  font-weight: bold;
  width: 400px;
  position: absolute;
  padding: 10px;
  gap: 5px;
  left: 36%;
  z-index: 2;
  animation-name: appear;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}

/* 5. Score Board */

.score {
  text-align: center;
  font-family: 'Pacifico', cursive;
  word-spacing: 25px;
  height: 30px;
  position: relative;
}


/* 6. Retry form */

.popup-retry {
  background-color: coral;
  color: white;
  font-weight: bold;
  width: 400px;
  border-radius: 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  position: absolute;
  left: 35%;
  top: 27%;
  z-index: 3;
  padding: 25px;
  animation-name: appear;
  animation-duration: 0.7s;
  animation-timing-function: ease-in;
}

p:first-child {
  text-align: center;
  font-size: x-large;
  font-family: 'Pacifico', cursive;
}


@keyframes appear {
  from { opacity: 0; }
  to { opacity: 1; }
}